<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;600;700&amp;display=swap" rel="stylesheet">
</head>
<body>
<!--Call the Hack the Gap First or img covers everything-->
<app-hack-gap>Loading...</app-hack-gap>
<!--Call the top_nav_bar-->
<app-header> Loading...</app-header>

<app-about>Loading...</app-about>

<app-who-is-this>Loading...</app-who-is-this>

<!--Call the bottom_nav_bar-->
<app-footer> Loading...</app-footer>
</body>
