<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">CYBERSECURITY CAREER PATHWAY</h5>
      <p class="card-text">
        There are many opportunities for workers to start and advance their careers within cybersecurity. This interactive career pathway shows key jobs within cybersecurity, common transition opportunities between them, and detailed information about the salaries, credentials, and skillsets associated with each role.
      </p>
      <div class="btn-group dropend d-flex">
        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
         <img src="/assets/share-fill.svg"> Share
        </button>
        <ul class="dropdown-menu">
            <img src="/assets/pinterest.svg" class="icon" href="https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.cyberseek.org%2Fpathway.html&media=images%2Ftool_09.png&description=Explore%20the%20key%20jobs%20within%20cybersecurity%2C%20common%20transition%20opportunities%20between%20them%2C%20and%20detailed%20information%20about%20the%20salaries%2C%20credentials%2C%20and%20skillsets%20associated%20with%20each%20role" alt="Pinterest">
            <img src="/assets/twitter.svg" class="icon" href="https://twitter.com/intent/tweet?text=Explore%20the%20key%20jobs%20within%20cybersecurity%2C%20common%20transition%20opportunities%20between%20them%2C%20and%20detailed%20information%20about%20the%20salaries%2C%20credentials%2C%20and%20skillsets%20associated%20with%20each%20role&url=https%3A%2F%2Fwww.cyberseek.org%2Fpathway.html" alt="Twitter">
            <img src="/assets/facebook.svg" class="icon " href="" alt="Facebook">
            <img src="/assets/reddit.svg" class="icon" href="" alt="Reddit">
            <img src="/assets/linkedin.svg" class="icon" href="" alt="LinkedIn">
        </ul>
      </div>
      <a href="#" class="btn">Embed</a>
    </div>
  </div>
