.card {
    border: none;
    width: 16rem;
}

.card-title {
    font-size: small;
}

.card-text {
    font-size: small;
}

.btn {
    border-color: lightgrey;
}

.btn:hover {
    background-color: lightgrey;
}