<div class="card">
  <div class="card-body">
    <h5 class="card-title">CYBERSECURITY CAREER PATHWAY</h5>
    <p class="card-text">
      There are many opportunities for workers to start and advance their careers within cybersecurity. This interactive
      career pathway shows key jobs within cybersecurity, common transition opportunities between them, and detailed
      information about the salaries, credentials, and skillsets associated with each role.
    </p>
    <div class="d-flex btn-group dropend">
      <button type="button" class="btn d-flex justify-content-start" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="/assets/share-fill.svg"> &nbsp; Share
      </button>
      <ul class="dropdown-menu">
        <div class="d-flex justify-content-around">
          <img src=" /assets/pinterest.svg" alt="Pinterest">
          <img src="/assets/twitter.svg" alt="Twitter">
          <img src="/assets/facebook.svg" alt="Facebook">
          <img src="/assets/reddit.svg" alt="Reddit">
          <img src="/assets/linkedin.svg" alt="LinkedIn">
        </div>
      </ul>
    </div>
    <a href="#" class="btn">Embed</a>
  </div>
</div>