<nav class="navbar navbar-expand-lg navbar-light bg-faded-trans">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/assets/Brand/cs_logo.svg" alt="CyberSeek" width="123" height="33">
      </a>
      <!---Menu toggle when small screen-->
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        ☰
      </button>
      <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <!--Align Content-->
        <ul class="navbar-nav">
          <!--Map-->
          <li class="nav-item">
            <a routerLink = "/heatmap" class="nav-link active">Interactive map</a>
          </li>
          <!--Pathway-->
          <li class="nav-item">
          <a routerLink = "/pathway" class="nav-link active">Career pathway</a>
        </li>
          <!--Education-->
          <li class="nav-item">
          <a routerLink = "/training" class="nav-link active">Education and Training Providers</a>
        </li>
          <!--Links-->
          <li class="nav-item">
          <a routerLink = "/index" class="nav-link active">About</a>
        </li>
        </ul>
      </div>
    </div>
  </nav>
