<div class="card">
  <div class="card-body">
    <h5 class="card-title">TOP CERTIFICATIONS</h5>
    <div class="card-body d-flex flex-row">
      <ul>
        <p>Certified Information Systems Security Professional (CISSP)</p>
        <p>Certified Information Systems Auditor (CISA)</p>
        <p>Certified Information Privacy Professional (CIPP)</p>
        <p>Certified Information Security Manager (CISM)</p>
        <p>Global Information Assurance Certification (GIAC)</p>
        <p>CompTIA Security+ Certification</p>
      </ul>
      <img src="/assets/left_node.jpg" class="image">
    </div>
  </div>
</div>