<nav class="nav navbar navbar-expand-lg d-flex justify-content-center navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/Brand/cs_logo.svg" alt="CyberSeek" width="123" height="33">
    </a>
    <!---Menu toggle when small screen-->
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <img src="/assets/menu.svg">
    </button>
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <!--Align Content-->
      <ul class="nav">
        <!--Map-->
        <li class="nav-item">
          <a routerLink="/heatmap" class="nav-link">INTERACTIVE MAP</a>
        </li>
        <!--Pathway-->
        <li class="nav-item">
          <a routerLink="/pathway" class="nav-link">CAREER PATHWAY</a>
        </li>
        <!--Education-->
        <li class="nav-item">
          <a routerLink="/training" class="nav-link">EDUCATION AND TRAINING PROVIDERS</a>
        </li>
        <!--Links-->
        <li class="nav-item">
          <a routerLink="/index" class="nav-link">ABOUT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>