.navbar-light .nav-link {
    font-size: small;
    font-weight: bold;
    color: black;
    border-bottom: solid transparent;
}

.navbar-light .nav-link:hover {
    color: rgb(10, 145, 207);
    border-bottom: solid rgb(10, 145, 207)
}

.nav-link:active {
    color: rgb(10, 145, 207);
    border-bottom: solid rgb(10, 145, 207)
}