<body class="container-wrapper">
    <app-second-header> Loading...</app-second-header>
    <div class="buttons d-flex justify-content-between">
        <a routerLink="/pathway" class="btn btn-secondary">Roles</a>
        <a routerLink="/certifications" class="btn btn-primary">Skills and Certifications</a>
    </div>
    <div class="d-flex justify-content-center">
        <img src="/assets/key.jpg" class="image">
    </div>
    <div class="d-flex flex-row justify-content-between">
        <app-cert-card></app-cert-card>
        <app-job-card></app-job-card>
        <app-skill-card></app-skill-card>
    </div>
</body>
<app-footer></app-footer>