body {
    margin-right: 12vw;
    margin-left: 12vw;
}

.image {
    width: 35%;
    height: auto;
}

.btn {
    border: none;
    margin-top: .3in;
    font-size: small;
}

.btn-secondary {
    background-color: lightgrey;
    color: black;
}

.buttons {
    margin-right: 29rem;
    margin-left: 29rem;
}