.whoIsThis {
    background-color: #f5f7f9;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.header {
    font-size: 21px;
    margin-top: 3%;
    color: #505054;
}

.header-text {
    font-size: medium;
    margin-left: 28%;
    margin-right: 28%;

}

.card_separator {
    margin: 1vw;
    width: 23vw;
    height: 35vw;
}