<nav class="navbar navbar-expand-lg navbar-dark bg-faded-trans">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/Brand/cs_logo_white.svg" alt="CyberSeek" width="123" height="33">
    </a>
    <!---Menu toggle when small screen-->
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      ☰
    </button>
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <!--Align Content-->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!--About Dropdown-->
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Who this tool is for</a></li>
            <li><a class="dropdown-item" href="#">What is cybersecurity?</a></li>
            <li><a class="dropdown-item" href="#">Why consider a career in cybersecurity?</a></li>
            <li><a class="dropdown-item" href="#">Project Partners</a></li>
          </ul>
        </li>
        <!--Map-->
        <li class="nav-item">
          <a routerLink = "/heatmap" class="nav-link active">Interactive map</a>
        </li>
        <!--Pathway-->
        <li class="nav-item">
        <a routerLink = "/pathway" class="nav-link active">Career pathway</a>
      </li>
        <!--Education-->
        <li class="nav-item">
        <a routerLink = "/training" class="nav-link active">Education and Training Providers</a>
      </li>
        <!--Links-->
        <li class="nav-item">
        <a routerLink = "/dummy" class="nav-link active">Links</a>
      </li>
      </ul>
    </div>
  </div>
</nav>