.bg {
  background-color: #0b1320;
}

.container-fluid {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  font-family: 'Roboto', sans-serif;
}

.navbar-toggler {
  border: none;
  color: white;
}

.dropdown-menu {
  background-color: transparent;
  color: #fff;
  border: none;
}

.dropdown-menu .dropdown-item {
  color: #fff;
}

.dropdown-menu .dropdown-item:hover {
  color: #333;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  border-bottom: 0.2vw solid transparent;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ddd;
  border-bottom: 0.2vw solid #333;
}