.card {
    width: 18rem;
    border: none;
}

h5 {
    text-align: center;
    margin-left: 2rem;
    font-size: small;
    font-weight: bold;
}

p {
    text-align: center;
    font-size: x-small;
}

.image {
    height: 20rem;
}