<div class="card">
  <div class="card-body">
    <h5 class="card-title">JOB TITLE</h5>
    <div class="card-body d-flex flex-row">
      <img src="/assets/right_color.jpg" class="image">
      <ul>
        <p>Cybersecurity Engineer</p>
        <p>Cybersecurity Analyst</p>
        <p>Cybersecurity Consultant</p>
        <p>Penetration & Vulnerability Tester</p>
        <p>Cybersecurity Manager</p>
        <p>Incident & Intrusion Analyst</p>
        <p>Cybersecurity Specialist</p>
        <p>IT Auditor</p>
        <p>Cybersecurity Architect</p>
        <p>Cyber Crime Analyst</p>
      </ul>
      <img src="/assets/right_color.jpg" class="image">
    </div>
  </div>
</div>