<div class="card">
  <div class="card-body">
    <h5 class="card-title">TOP SKILLS</h5>
    <div class="card-body d-flex flex-row">
      <img src="/assets/right_node.jpg" class="image">
      <ul>
        <p>Information Security / Assurance</p>
        <p>Security Operations</p>
        <p>Cryptography</p>
        <p>Risk Assessment and Management</p>
        <p>Threat Analysis</p>
        <p>Authentication</p>
        <p>Network Security</p>
        <p>NIST Cybersecurity Framework</p>
        <p>Internal Auditing</p>
      </ul>
    </div>
  </div>
</div>