.about {
    margin-top: 30vw;
}

.header {
    font-size: x-large;
    color: #505054;
}

.icon {
    object-fit: contain;
    width: 10%;
    height: 10%;
}

.card_separator {
    margin-right: 5%;
}
