<div class="whoIsThis">
    <div class="container">
      <h2 class = "header text-center">Who is this tool for?</h2>
      <p class="header-text text-center">
        CyberSeek can support local employers, educators, guidance and career counselors, students, current workers,
        policy makers, and other stakeholders as they answer the following questions:
      </p>
      <div class="row row-eq-height"> 
        <div class="categoryCont shadow col-sm-3">
          <p class="category"><img src="/assets/employment.svg" class="icon" alt="employers">
            Employers</p>
          <ul class="questions">
            <li><span>How large is the cybersecurity workforce in my region? How does that compare to other
                locations?</span></li>
                <p>   </p>
            <li><span>How much does it cost to hire cybersecurity workers in my region?</span></li>
                 <p>   </p>
            <li><span>How hard will it be to fill cybersecurity positions in my region? Do I need to source
                cybersecurity workers from other regions?</span></li>
          </ul>
        </div>

        <div class="categoryCont shadow col-sm-3">
          <p class="category"><img src="/assets/educators.svg" class="icon " alt="educators">
            Educators &amp; Career Counselors</p>
          <ul class="questions">
            <li><span>Should I offer a cybersecurity training program for my students?</span></li>
            <p>   </p>
            <li><span>What skills should we teach students to prepare them for careers in cybersecurity? What courses
                should they take?</span></li>
                <p>   </p>
            <li><span>What education levels do employers require for cybersecurity workers in my community?</span></li>
            <p>   </p>
            <li><span>What entry-level jobs can students target to begin their careers in cybersecurity?</span></li>
            <p>   </p>
            <li><span>What cybersecurity certifications are most in demand in my community? Are there enough
                certification holders to meet demand? Should I prepare students for these certifications?</span></li>
          </ul>
        </div>

        <div class="categoryCont shadow col-sm-3">
          <p class="category"><img src="/assets/students.svg" class="icon " alt="Students"> Students</p>

          <ul class="questions">
            <li><span>Is there strong demand for cybersecurity jobs in my region?</span></li>
            <p>   </p>
            <li><span>What skills and educational credentials do I need to enter a career in cybersecurity?</span></li>
            <p>   </p>
            <li><span>How much can I make if I work in cybersecurity?</span></li>
          </ul>
        </div>

        <div class="categoryCont shadow col-sm-3">
          <p class="category"><img src="/assets/search-1.svg" class="icon " alt="Job Seekers &amp; Current Workers"> Job
            Seekers &amp; Current Workers</p>

          <ul class="questions">
            <li><span>How in-demand are cybersecurity jobs in my community?</span></li>
            <p>   </p>
            <li><span>What roles can I target to start my career in cybersecurity?</span></li>
            <p>   </p>
            <li><span>How can I transition between cybersecurity roles and advance my career?</span></li>
          </ul>
        </div>

        <div class="categoryCont shadow col-sm-3">
          <p class="category"><img src="/assets/policy.svg" class="icon " alt="Policy Makers">
            Policy Makers</p>
          <ul class="questions">
            <li><span>How large is the cybersecurity workforce in my community? How does that compare to other
                locations?</span></li>
                <p>   </p>
            <li><span>How severe is the workforce shortage in my community?</span></li>
            <p>   </p>
            <li><span>What types of cybersecurity jobs are most demanded in my community?</span></li>
          </ul>
        </div>

        <div class="categoryCont  shadow col-sm-3">
          <p class="category"><img src="/assets/spreadword.svg" class="icon " alt="Spread the Word"> Spread the Word</p>

          <p class="small text-left">Download a Sharable CyberSeek One-Pager</p>
          <a href="assets/cyberseek_infographic.pdf" target="_blank"><img src="/assets/pdf_image.png" class="pic"></a>
          <a id="download" href="assets/cyberseek_infographic.pdf" target="_blank" class="btn btn-lg btn-primary">Download PDF</a>
        </div>
      </div>
    </div>
  </div>
