<div class="card shadow">
    <div class="card-body">
        <p class="category"><img src="/assets/spreadword.svg" class="icon" alt="Spread the Word"> Spread the Word</p>
        <p class="small text-left">Download a Sharable CyberSeek One-Pager</p>
        <div class="d-flex flex-wrap justify-content-center">
            <a href="assets/cyberseek_infographic.pdf"><img src="/assets/pdf_image.png" class="pic"></a>
            <a href="assets/cyberseek_infographic.pdf" class="btn btn-lg btn-primary">Download PDF</a>
        </div>
    </div>
</div>