.container-fluid {
    margin-top: 4rem;
}

.heading {
    margin-right: 15rem;
    margin-left: 15rem;
    text-align: center;
    font-weight: bold;
}

.card {
    margin-left: 1rem;
    margin-right: 1rem;
    border: none;
    width: 35rem;
}