<div class="container-fluid">
    <span class="d-flex flex-wrap justify-content-center">
        <h5 class="heading">To help close the cybersecurity skills gap, CyberSeek provides detailed, actionable data
            about
            supply and demand in the
            cybersecurity job market.</h5>
        <div class="d-flex flex-row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Interactive Map</h5>
                </div>
                <a routerLink="/heatmap"><img class="card-img-top" src="/assets/tool_07.png" alt="Card image cap"></a>

            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Career Pathway</h5>
                </div>
                <a routerLink="/pathway"><img class="card-img-top" src="/assets/tool_09.png" alt="Card image cap"></a>
            </div>
        </div>
    </span>
</div>