<div class="card bg-img">
  <div class="card-body">
    <h1 class="d-flex justify-content-center cover-heading">Hack the gap </h1>
    <p class="d-flex justify-content-center lead"> Close the cybersecurity talent gap with interactive tools and data
    </p>
    <div class="d-flex flex-row justify-content-center ">
      <a routerLink="/heatmap" href="#" class="cover-heading goTo btn btn-secondary">Explore
        Heatmap</a>
      <a routerLink="/pathway" href="#" class="cover-heading goTo btn btn-secondary">Explore
        Career Pathway</a>
    </div>
  </div>

</div>