.bg-img {
    /* The image used */
    background-image: url("https://www.cyberseek.org/images/bg_image_new.jpg");
    width: 100%;
    position:absolute;
    top: 0;
    z-index: 0;
    height: 500px;
    background-size: cover;
    background-position: top left;
    background-color: #090F1A;
    background-repeat: no-repeat;
  }

  .inner {
    margin-top: 250px;
    
  }
  .cover-heading {
    font-weight:bolder;
    color: white;
    font-size:50px;
  }

  .lead {
    color: white;
  }
  .goTo {
    position: relative;
    font-weight: bolder;
    font-size: 22px;
    background-color: #428fe8;
    border: none;
    margin-left: 1em;
    margin-right: 1em;
    padding-right: 28px;
    padding-left: 28px;
    
    
  }
